In [4]:
import numpy as np
import pandas as pd

import re

In [7]:
df = pd.read_excel('data/recipes.xlsx')

In [9]:
df = df.drop(columns=['aloo gobhi'])

In [10]:
df = df.dropna(subset=['amount', 'unit'])

In [11]:
df = df.drop(columns=[
    'recipe_code_org',
    'recipe_name_org',
    'amount_org',
    'unit_org',
    'food_code_org',
    'food_name'
])

In [12]:
(df.isnull().sum()/df.shape[0])*100

recipe_code            0.000000
recipe_name            0.000000
ingredient_name_org    0.000000
food_name_org          0.000000
food_code              1.168679
amount                 0.000000
unit                   0.000000
dtype: float64

In [13]:
(df.isnull().sum()/df.shape[0])*100

recipe_code            0.000000
recipe_name            0.000000
ingredient_name_org    0.000000
food_name_org          0.000000
food_code              1.168679
amount                 0.000000
unit                   0.000000
dtype: float64

In [14]:
df['food_code'] = df['food_code'].fillna('unknown')

In [15]:
df.head()

,recipe_code,recipe_name,ingredient_name_org,food_name_org,food_code,amount,unit
0,ASC001,Hot tea (Garam Chai),Milk,"Milk, whole, Cow",L002,50.0,ml
1,ASC001,Hot tea (Garam Chai),Sugar,"Sugar, white",I502,2.0,tsp
2,ASC001,Hot tea (Garam Chai),Tea leaves,"Tea, black, infusion, average",V510,1.5,tsp
3,ASC001,Hot tea (Garam Chai),Water,"Water, distilled",K505,1.5,C
4,ASC002,Instant coffee,Hot milk,"Milk, whole, Cow",L002,75.0,ml

In [16]:
df['recipe_name']

0                                     Hot tea (Garam Chai)
1                                     Hot tea (Garam Chai)
2                                     Hot tea (Garam Chai)
3                                     Hot tea (Garam Chai)
4                                           Instant coffee
                               ...
10266    Garlic chickpea soup (Lahasun aur chane ka sho...
10267    Garlic chickpea soup (Lahasun aur chane ka sho...
10268    Garlic chickpea soup (Lahasun aur chane ka sho...
10269    Garlic chickpea soup (Lahasun aur chane ka sho...
10270    Garlic chickpea soup (Lahasun aur chane ka sho...
Name: recipe_name, Length: 10268, dtype: object

In [17]:
print(np.__version__)
print(pd.__version__)

2.3.3
2.3.3